@model MyProject.Domain.Airports.Airport

@{
    ViewData["Title"] = "Edit Airport";
}

<h2>Edit Airport</h2>

<div class="card shadow-sm p-4">

    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">City</label>
            <input asp-for="City" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Country</label>
            <input asp-for="Country" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Code</label>
            <input asp-for="Code" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>

    </form>

</div>
