@model List<MyProject.Domain.Aircrafts.Aircraft>

@{
    ViewData["Title"] = "Aircraft";
}

<h2 class="mb-4">Aircraft List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Aircraft</a>
</p>

<table class="table table-bordered table-hover shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Model</th>
            <th>Total Seats</th>
            <th style="width:150px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Model</td>
                <td>@item.TotalSeats</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-sm btn-warning">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
